*, *::before, *::after {box-sizing: border-box;}

* {
	padding:0;
	margin:0;
	font-size: 16px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	outline: none;
	box-sizing: border-box;
}

html, body {
	width:100%;
	min-height:100%;
	height: 100%;
	line-height: 1.25;
	/* font-family: 'Roboto', sans-serif; */
	outline: none;
	background-size:100% 100%;
	background-position:0 0;
	background-repeat: no-repeat;
}

img {
	max-width: 100%;
}

.wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

.container {
	margin: 4em auto;
}
.page-header {
	padding-bottom: 1em;
}
.card {
	margin-top: 1em;
}

footer {
	background: #343a40;
	position: relative;
	padding: 2em 0;
	color: #fff;
}
footer .container {
	margin: 0 auto;
}
footer img {
	width: 42px;
}
footer p {
	margin-bottom: 0;
}